* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 1348px;
    height: 1200px;
    background-color: white;
}

/*右侧菜单栏*/
#wrapper .banner-right {
    right: 0;
    top: 0;
    width: 35px;
    height: 644px;
    background-color: #141414;
    position: fixed;
    z-index: 1;

}

/*头部*/

.header {
    width: 100%;
    height: 200px;
    font-family: '微软雅黑';
}
.header a{
    text-decoration: none;
}
/*头部菜单栏*/
.header #header-menu{
    width: 100%;
    height: 33px;
    line-height: 33px;
    background-color: #f2f2f2;
    color: #999;
    font-size: 12px;
    border: 1px solid #f2f2f2;

}
.header #header-menu li{
    display: inline-block;
    margin: 0 8px;
}
.header #header-menu li a{
    color: #999;
    text-decoration: none;
}
.header #header-menu li a:hover{
    color: #DB4038;
}

.header #header-menu .header-menu-left{
    width: 250px;
    float: left;
    margin-left: 50px;

}
.header #header-menu .header-menu-right{
    width: 600px;
    float: right;
    margin-right: 20px;
}
/*头部LOGO*/
.header .header-logo{
    float: left;
    position: absolute;
    left:50px;
    top:52px;

}
/*头部搜索框*/
.header .header-search{
    margin-top: 40px;
    margin-left: 430px;
    float: left;

}
.header .header-search input{
    width:395px;
    height: 30px;
    float: left;
    border: 3px solid #c40000;
    font-size: 14px;
    color: #6a6a6a;
    padding-left: 5px;
}

.header .header-search a{
    width: 80px;
    height: 30px;
    line-height: 30px;
    float: left;
    position: absolute;
    border: 3px solid #c40000;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    background-color: #c40000;
}
/*热搜词*/
.header .hot-search{
    width: 480px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin: 0 430px;
}
.header .hot-search a{
    color: #999;
    font-size: 15px;
    font-family: arial;

}
.header .hot-search span{
    color: #999;
    margin: 0 10px;
    font-weight: lighter;
}

/*头部导航栏*/
.header .nav-top{
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: #dd2727;
    top:165px;
}
/*商品分类标题*/
.nav-top .item-sort-title{
    width: 190px;
    height: 35px;
    float: left;
    background-color: #c60a0a;
    margin-left: 50px;
}
.item-sort-title img{
    float: left;
    margin-top: 2px;
}
.item-sort-title p{
    float: left;
    color: white;
    font-weight: bold;
    line-height: 35px;
    margin-left: 3px;
}
.header #nav {
    width:920px;
    height: 35px;
    float: left;
    margin-left: 20px;
}

.header #nav li {
    position: relative;
    float: left;
    list-style-type: none;
    text-align: center;

}

.header #nav li a {
    display: block;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    color: #ffffff;
    padding: 0 18px;

}
#nav li a .hover-icon{
    position: absolute;
    width: 40px;
    height: 15px;
    left: 28%;
    top:-18px;
    display: none;
}


/*中间主要内容*/
.main{
    position: relative;
    width: 100%;
    height: 515px;
}


/*广告页*/
.banner {
    width: 100%;
    height: 515px;
}

/*轮播图*/
.banner .slide-box{
    position: relative;
    width: 1350px;
    height: 500px;
    display: block;
    overflow: hidden;
}
.banner #slide-image{
    position: absolute;
    width: 8500px;
    left: 0;
}
#slide-image li{
    float: left;
}

/*圆圈按钮*/
.banner .circle-btn{
    position: absolute;
    width: 100%;
    bottom: 18px;
    left:0;
    text-align: center;
    font-size: 0;       /*让li标签没有间隙*/
    cursor: pointer;

}
.banner .circle-btn li{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px gray solid;
    background-color: gray;

}
/*当前的圆圈按钮*/
.banner .circle-btn .circle-btn-on{
    background-color: #fcfcfc;
}

/*左右按钮*/
.banner .slide-btn{
    position: absolute;
    width: 45px;
    height: 80px;
    line-height: 80px;
    background: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    top:50%;
    margin-top: -40px;
    font-size: 68px;
    font-family: "宋体";       /*防止火狐浏览器默认黑体太粗*/
    cursor: pointer;

}
.banner .btn_l{
    left: 300px;
}
.banner .btn_r{
    right: 180px;
}

/*左侧栏菜单*/
.left-menu {
    position: absolute;
    top:0;
    width: 190px;
    height: 500px;
    background: rgba(0, 0, 0, 0.8); /*背景透明但不影响文字*/
    filter: opacity(80);
    left: 50px;
    float: left;
}
.left-menu #nav-item li {
    height: 31px;
    line-height: 30px;
    list-style-type: none;
    font-size: 14px;
    font-family: '微软雅黑';
    color: white;
    padding-left: 5%;
}

.left-menu #nav-item li:hover {
    background-color: #141414;
}

.left-menu #nav-item li a {
    text-decoration: none;
    color: white;
    padding: 0 3px;
}

/*二级菜单菜单的详细分类*/
.main .detail-sort{
    position: absolute;
    float: left;
    width:775px;
    height: 500px;
    background-color: #fcfcfc;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    display: none;
    top:0;
    left: 190px;
    overflow: hidden;

}
.detail-sort .item-sort{
    width: 58%;
    float: left;
    margin-top: 5px;
}
.detail-sort  h3{
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    float: left;
    border-bottom: 1px solid black;
    margin-left: 20px;
}
.detail-sort  h3 a{
    color: black;
}
.detail-sort  a{
    text-decoration: none;
    float: left;

}
.detail-sort  .more{
    float: right;
    margin-right: 20px;
    margin-top:21px;
}

/*每个小类目的分段*/
.detail-sort  .detail-list{
    float: left;
    width: 95%;
    margin-left: 20px;
    font-size: 13px;
}
.detail-sort  .detail-list a{
    color:#666 ;
    margin: 3px 0;
    padding: 0 6px;
}
.detail-sort  .detail-list a:hover{
    color: #E9447D;
}
.detail-sort  .detail-list .list1{
    float: left;
    margin: 10px 0;
    border-bottom: 1px dotted black;
}
.detail-sort  .detail-list .list2{
    float: left;
    border-bottom: 1px dotted black;

}
.detail-sort  .detail-list .list3{
    float: left;
    margin: 10px 0;
}
.detail-sort  .hot-banner{
    float: left;
    width: 34%;
    margin-left: 30px;
}
.detail-sort  .hot-banner h3{
    margin-top: 5px;
}
.detail-sort  .hot-banner h3 a{
    margin-top:20px;
}
.detail-sort  .hot-banner img{
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.detail-sort  .hot-banner .detail-list .list4{
    margin: 10px 0;
}


/*图标动画*/
.icon-animate {
    width: 200px;
    margin: 0 auto;
}

.icon-animate ul {
    margin-top: 20px;
}

.icon-animate li {
    float: left;
    position: relative;
    width: 60px;
    height: 70px;
    text-align: center;
    list-style-type: none;
    border: 1px solid silver;
    cursor: pointer;
    color: #666666;
    /*background-color: #003366;*/

}

.icon-animate li:hover {
    color: #F05D42;
}

.icon-animate li:nth-child(1), li:nth-child(2), li:nth-child(4), li:nth-child(5) {
    border-right: none;
}

.icon-animate li:nth-child(1), li:nth-child(2), li:nth-child(3) {
border-bottom: none;
}

.icon-animate li i {
    width: 100%;
    line-height: 50px;
    float: left;
    position: absolute;
    left: 0px;
    top: 12px;
}

.icon-animate li p {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 13px;
    font-family: 'arial';
    /*background-color: bisque;*/
    bottom: 0px;

}




